@import 'tailwindcss';
@import '@skeletonlabs/skeleton'; 
@import '@skeletonlabs/skeleton-svelte'; 
@import '@skeletonlabs/skeleton/themes/cerberus';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

[data-theme='theme'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(96.08% 0.06 196.19deg);
	--color-primary-100: oklch(89.9% 0.07 206.59deg);
	--color-primary-200: oklch(83.52% 0.08 216.19deg);
	--color-primary-300: oklch(77.34% 0.09 223.47deg);
	--color-primary-400: oklch(70.96% 0.1 229.97deg);
	--color-primary-500: oklch(64.83% 0.11 234.73deg);
	--color-primary-600: oklch(58.1% 0.11 237.48deg);
	--color-primary-700: oklch(51.38% 0.1 239.21deg);
	--color-primary-800: oklch(44.28% 0.09 243.19deg);
	--color-primary-900: oklch(37.09% 0.09 246.1deg);
	--color-primary-950: oklch(29.34% 0.08 250.52deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(92.51% 0.08 204.91deg);
	--color-secondary-100: oklch(85.18% 0.08 209.93deg);
	--color-secondary-200: oklch(77.6% 0.09 216.4deg);
	--color-secondary-300: oklch(70.17% 0.1 220.77deg);
	--color-secondary-400: oklch(62.55% 0.11 227.05deg);
	--color-secondary-500: oklch(55.2% 0.11 232.61deg);
	--color-secondary-600: oklch(48.95% 0.1 235.67deg);
	--color-secondary-700: oklch(42.17% 0.09 239.7deg);
	--color-secondary-800: oklch(35.47% 0.08 244.59deg);
	--color-secondary-900: oklch(28.08% 0.08 250.59deg);
	--color-secondary-950: oklch(20.6% 0.07 256.47deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(79.69% 0.12 33.2deg);
	--color-tertiary-100: oklch(73.25% 0.14 28.91deg);
	--color-tertiary-200: oklch(66.8% 0.16 25.48deg);
	--color-tertiary-300: oklch(61.05% 0.18 24.49deg);
	--color-tertiary-400: oklch(55.73% 0.19 24.29deg);
	--color-tertiary-500: oklch(51.61% 0.2 25.94deg);
	--color-tertiary-600: oklch(46.55% 0.18 26.07deg);
	--color-tertiary-700: oklch(41.6% 0.16 26.4deg);
	--color-tertiary-800: oklch(36.21% 0.14 26.92deg);
	--color-tertiary-900: oklch(30.84% 0.12 27.5deg);
	--color-tertiary-950: oklch(24.75% 0.1 29.23deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(100% 0 none);
	--color-success-100: oklch(99.43% 0 287.34deg);
	--color-success-200: oklch(99.06% 0 247.73deg);
	--color-success-300: oklch(98.49% 0 264.7deg);
	--color-success-400: oklch(98.12% 0 247.8deg);
	--color-success-500: oklch(97.55% 0 258.37deg);
	--color-success-600: oklch(90.27% 0 247.81deg);
	--color-success-700: oklch(82.59% 0 258.36deg);
	--color-success-800: oklch(74.98% 0 247.83deg);
	--color-success-900: oklch(66.91% 0 258.36deg);
	--color-success-950: oklch(58.86% 0 247.86deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-dark);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(100% 0 none);
	--color-warning-100: oklch(97.02% 0 none);
	--color-warning-200: oklch(94.01% 0 none);
	--color-warning-300: oklch(90.67% 0 none);
	--color-warning-400: oklch(87.61% 0 none);
	--color-warning-500: oklch(84.52% 0 none);
	--color-warning-600: oklch(77.31% 0 none);
	--color-warning-700: oklch(69.6% 0 none);
	--color-warning-800: oklch(62.01% 0 none);
	--color-warning-900: oklch(53.82% 0 none);
	--color-warning-950: oklch(45.68% 0 none);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(100% 0 none);
	--color-error-100: oklch(97.02% 0 none);
	--color-error-200: oklch(94.01% 0 none);
	--color-error-300: oklch(90.67% 0 none);
	--color-error-400: oklch(87.61% 0 none);
	--color-error-500: oklch(84.52% 0 none);
	--color-error-600: oklch(77.31% 0 none);
	--color-error-700: oklch(69.6% 0 none);
	--color-error-800: oklch(62.01% 0 none);
	--color-error-900: oklch(53.82% 0 none);
	--color-error-950: oklch(45.68% 0 none);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-dark);
	--color-error-contrast-700: var(--color-error-contrast-dark);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(60.36% 0.05 266.83deg);
	--color-surface-100: oklch(53.15% 0.05 266.13deg);
	--color-surface-200: oklch(45.86% 0.04 261.88deg);
	--color-surface-300: oklch(38.12% 0.05 260.99deg);
	--color-surface-400: oklch(30.2% 0.05 256.53deg);
	--color-surface-500: oklch(21.64% 0.05 255.95deg);
	--color-surface-600: oklch(19.4% 0.04 255.58deg);
	--color-surface-700: oklch(17% 0.03 252.62deg);
	--color-surface-800: oklch(14.25% 0.02 253.38deg);
	--color-surface-900: oklch(11.18% 0.02 246.04deg);
	--color-surface-950: oklch(0% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-light);
	--color-surface-contrast-300: var(--color-surface-contrast-light);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
